/* body{
    padding-bottom: 1em;
    font-family: Arial;
    font-size: 5;
    background-color: rgb(65, 65, 65);
    color: white;
    margin-top: 5em !important;
}

.HeaderDiv{
    margin: 1em;
    font-size: 200%;
}

.Header{
    font-size: 3em;
}

.HeaderDiv input{
    font-size: 100%;
    width: auto;
    border: none;
    background-color: inherit;
}

.no_padding{
    padding: 0%;
    margin: 0%;
}

.truth_table{
    border: 0.25ex solid white !important;
    table-layout: auto;
    border-collapse: collapse;
}

.truth_table_header{
    border-bottom: 0.25ex solid white;
}

.truth_table_header input{
    border: none;
}

.truth_table_td{
    border-right: 0.25ex solid white;
}

.double_border{
    border-left: 0.5ex solid white;
}

.kv_diagram{
    border-collapse: collapse;
}

.kv_diagram_td{
    text-align: center;
}

.flex_shrink{
    flex: 0 1 auto !important;
}

.name_input{
    background-color: rgb(65, 65, 65);
    text-align: center;
}

.logic_input{
    border: none;
    background-color: rgb(65, 65, 65);
    text-align: center;
}

.span_packet_selector{
    color: red;
    cursor: pointer;
}

.span_packet_selector span{
    color: red;
    cursor: pointer;
}

.selector_div > *{
    cursor: pointer;
}

.code_area{
    height: auto;
    width: auto;
    overflow: hidden;
    font-family: Consolas,"courier new";
    color: white;
    padding: 2px;
    border: 0.1ex solid white;
    border-radius: 1ex;
    word-break: break-all;
}

*/

.svg_container{
    height: 50rem;
}

.divTable{
	display: flex;
    flex-wrap: wrap;
    margin: 0.5ex;
    gap: 2em;
    justify-content: center;
}

.divTableCell {
	flex: 1 1 0%;
}

.anchor{
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

.content{
    margin-top: 7.5em;
}

.truth_table_input{
    background-color: inherit !important;
    border: none !important;
}

.negated_logic{
    text-decoration: overline black;
}

.editable_cell, .editable_cell > *{
    cursor: pointer;
}

.non_editable_cell, .non_editable_cell > *{
    cursor: default;
}

.kv_diagram_td{
    border: none;
    width: auto;
}

.kv_diagram_highlight{
    box-shadow: inset 0 0 0 9999px rgba(255, 0, 0, 0.15) !important;
}

.kv_diagram_logic_td{
    text-align: center;
    cursor: default;
    border: 1px solid #dee2e6;
}

.kv_diagram_name_td{
    padding: 0.5ex;
    cursor: default;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.double_border{
    border-left-width: 2px;
}

textarea.form-control{
    resize: none;
    width: auto;
    text-overflow: ellipsis;
    font: 0 13.333px Arial;
}

.text_align_center{
    text-align: center;
}

.text_align_left{
    text-align: left;
}

.text_align_right{
    text-align: right;
}

.input-group{
    justify-content: center;
}

.input-group .form-control {
    flex: 0 1 auto !important;
    width: auto !important;
}

.span_packet_selector span{
    color: red;
    cursor: pointer;
}
