html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
    color: white;
}

body{
    padding-bottom: 1em;
    font-family: Arial;
    font-size: 5;
    background-color: rgb(65, 65, 65);
    color: white;
}

.Header{
    margin: 1em;
    font-size: 200%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Header input{
    font-size: 100%;
    width: auto;
    border: none;
    background-color: inherit;
}

.no_padding{
    padding: 0%;
    margin: 0%;
}

.truth_table{
    border: 0.25ex solid white;
    table-layout: auto;
    border-collapse: collapse;
}

.truth_table_header{
    border-bottom: 0.25ex solid white;
}

.truth_table_header input{
    border: none;
}

.truth_table_td{
    border-right: 0.25ex solid white;
}

.double_border{
    border-left: 0.5ex solid white;
}

.kv_diagram{
    border-collapse: collapse;
}

.kv_diagram_logic_td{
    text-align: center;
    border: 0.25ex solid white;
}

.kv_diagram_name_td{
    padding: 0.5ex
}

.kv_diagram_highlight{
    background-color: red;
}

.name_input{
    background-color: rgb(65, 65, 65);
    text-align: center;
}

.logic_input{
    border: none;
    background-color: rgb(65, 65, 65);
    text-align: center;
}

input{
    background-color: rgb(65, 65, 65);
    color: white;
}

input:focus{
    outline: none;
}

textarea{
    resize: none;
    background-color: rgb(65, 65, 65);
    text-overflow: ellipsis;
}

textarea:focus{
    outline: none;
}

.span_packet_selector{
    color: red;
    cursor: pointer;
}

.span_packet_selector span{
    color: red;
    cursor: pointer;
}

.negated_logic{
    text-decoration: overline white;
}

.code_area{
    height: auto;
    width: auto;
    overflow: hidden;
    font-family: Consolas,"courier new";
    color: white;
    padding: 2px;
    /* font-size: 105%; */
    border: 0.1ex solid white;
    border-radius: 1ex;
    word-break: break-all;
}

.divTable{
	display: flex;
    flex-wrap: wrap;
    margin: 3em;
    gap: 2em;
}

.divTableCell {
    flex-grow: 1;
	/* flex: 1 1 49%; */
}
